/** Custom Styles - Common to all files in main root and sub folders **/

.headerTitle {
    text-align: left !important;
}

.mainTitleE,
.mainTitle {
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFF;
    text-shadow: none;
    padding: 0 0.2em 0 0.3em;
    height: calc(0.24*100vw);
    position: relative;
}

.mainTitleE h1 {
    position: absolute;
    bottom: 0.2em;
    left: 0.4em;
}

.mainTitle h3 a {
    color: #E5E5E5 !important;
    text-decoration: none !important;
    text-shadow: none !important;
}

.commonsimg {
    background-image: url("../images/headerimage-commonsmain.jpg");
}

.fixed {
    position: fixed;
    z-index: 20;
    width: 100%;
    background-color: white;
}

#audioExtras {
    margin-top: calc(5.1em + 140px);
}

.footerText {
    direction: ltr !important;
    font-family: 'AvenirNextLTW01-Regular' !important;
    font-size: 0.9em;
    text-align: center;
}

.englishText {
    font-family: 'Adelle W01 Regular' !important;
    direction: ltr !important;
    font-size: 1em;
}

.englishInfo {
    font-family: 'Adelle W01 Regular' !important;
    direction: ltr !important;
    font-size: 0.7em;
    padding: 0.5em;
}

.as1 {
    font-size: 1.6em;
    font-style: normal;
    font-weight: normal !important;
    font-family: "Adelle W01 Regular" !important;
    text-shadow: none !important;
    color: #8c0c04;
}

p.as1 {
    margin: 0;
    padding: 0.5em 0 0.5em 0;
    display: inline-block;
}

.as3 {
    font-size: 1.2em !important;
    font-style: normal;
    top: 1.8em !important;
    right: 0.8em !important;
    line-height: 1.2em;
    text-shadow: none !important;
    font-family: "Sakkal Majalla_1188897" !important;
}

.arabic-h2 {
    font-family: "Sakkal Majalla_1188897" !important;
    font-size: 2.2em;
    margin-bottom: 0.5em;
}

.ui-li-divider>span.arabic-h3 {
    font-size: 1.2em !important;
    font-family: "Sakkal Majalla_1188897" !important;
    direction: rtl;
    text-align: right !important;
    margin: 0;
}

.ui-listview>li p {
    font-size: 1.2em !important;
    white-space: normal !important;
    overflow: visible;
    text-align: left;
}

.ui-listview>li p {
    margin: 0.25em 0 !important;
}

.ui-listview>.ui-li-divider.ui-li-has-count {
    padding-right: 1.3em !important;
}

.ui-li-count {
    direction: ltr;
}

.listEng {
    display: block;
    font-size: 1.1em;
    margin-top: 0.3em;
    overflow: hidden;
    direction: ltr;
}

#topbar h1 {
    font-weight: normal !important;
}


/** Customize jquery styles **/

body {
    direction: rtl !important;
}

.ui-listview .ui-li-has-thumb>.ui-btn>img:first-child {
    right: 0.5em !important;
    top: 0.5em !important;
    max-height: 4em !important;
}


/**.ui-listview>.ui-li-has-thumb>.ui-btn { padding-right: 5.25em !important;}**/

.ui-listview>li>a.ui-btn {
    text-align: right !important;
}

.ui-title {
    margin: 0 10% !important;
}

input {
    font-family: 'AvenirNextLTW01-Regular' !important;
    font-size: 0.7em;
    direction: ltr;
    padding-left: 2.2em !important;
}

.ui-listview>.ui-li-divider {
    background-color: #ebebeb !important;
    color: #333333;
    border: none;
}

.ui-listview .ui-li-has-thumb>.ui-btn>img:first-child {
    right: 0.5em !important;
    top: 0.5em !important;
    max-height: 2.4em !important;
}

.ui-listview>.ui-li-has-thumb>.ui-btn {
    padding-right: 3.5em !important;
}

.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
    background-color: #8c0c04/*{a-bar-background-color}*/
    !important;
    border-color: #8c0c04/*{a-bar-border}*/
    !important;
    color: #ffffff/*{a-bar-color}*/
    ;
    text-shadow: none;
    font-weight: normal;
    font-family: Adelle W01 Regular;
    font-size: 1em;
}


/** Main Text **/

body,
input,
textarea,
button,
.ui-btn {
    font-size: 1em;
    line-height: 1.1;
    font-family: "Sakkal Majalla_1188897";
    /*{global-font-family}*/
    ;
    font-style: normal !important;
    font-weight: normal !important;
}


/** Nav Bar **/

.ui-btn-icon-left:after {
    left: 0.5625em !important;
}

#letterslist .ui-btn-icon-right:after {
    left: 0.5625em !important;
    right: auto !important;
}

.footernav .ui-btn {
    padding-top: 40px !important;
}

.footernav .ui-btn:after {
    width: 30px!important;
    height: 30px!important;
    margin-left: -15px !important;
    box-shadow: none!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

.aboutbtnup:after {
    background-image: url(images/Icon-Info-grey2x.png);
    background-repeat: no-repeat;
    background-size: 3em 3em;
    background-color: transparent;
}

.aboutbtndown:after {
    background-image: url(images/Icon-Info-red2x.png);
    background-repeat: no-repeat;
    background-size: 3em 3em;
    background-color: transparent;
}

.listbtnup:after {
    background-image: url(images/Icon-Verses-grey2x.png);
    background-repeat: no-repeat;
    background-size: 3em 3em;
    background-color: transparent
}

.listbtndown:after {
    background-image: url(images/Icon-Verses-red2x.png);
    background-repeat: no-repeat;
    background-size: 3em 3em;
    background-color: transparent
}

.quranbtnup:after {
    background-image: url(images/Icon-Surahs-grey2x.png);
    background-repeat: no-repeat;
    background-size: 3em 3em;
    background-color: transparent
}

.quranbtndown:after {
    background-image: url(images/Icon-Surahs-red2x.png);
    background-repeat: no-repeat;
    background-size: 3em 3em;
    background-color: transparent
}

.prevbtnup:after {
    background-image: url(images/Icon-PrevVerse-red2x.png);
    background-repeat: no-repeat;
    background-size: 3em 3em;
    background-color: transparent
}

.prevbtndown:after {
    background-image: url(images/Icon-PrevVerse-grey2x.png);
    background-repeat: no-repeat;
    background-size: 3em 3em;
    background-color: transparent
}

.nextbtnup:after {
    background-image: url(images/Icon-NextVerse-red2x.png);
    background-repeat: no-repeat;
    background-size: 3em 3em;
    background-color: transparent
}

.nextbtndown:after {
    background-image: url(images/Icon-NextVerse-grey2x.png);
    background-repeat: no-repeat;
    background-size: 3em 3em;
    background-color: transparent
}

.footernav ul li a,
input {
    font-family: 'AvenirNextLTW01-Regular' !important;
    font-size: 0.9em !important;
}

.footernav ul li a.listbtndown,
.footernav ul li a.searchbtndown,
.footernav ul li a.aboutbtndown,
.footernav ul li a.quranbtndown {
    color: #cc2036 !important;
}

.footernav ul li a.listbtnup,
.footernav ul li a.aboutbtnup,
.footernav ul li a.searchbtnup,
.footernav ul li a.quranbtnup {
    color: #929292 !important;
}


/** Adjust top image for  larger screens **/

@media only screen and (min-width: 600px) {
    .mainTitle h1 {
        position: absolute;
        bottom: 0.25em;
        left: 1em;
    }
}

@media only screen and (min-width: 768px) {
    .mainTitle h1 {
        position: absolute;
        bottom: 0.3em;
        left: 1.2em;
    }
}